#Sprint 6, T01

##Nivell 1

###Execise 1 - samplig of some database with sport theme, sample random simple and sample sistematic

Let's analyze a dataset about earnings in esports - https://www.kaggle.com/jackdaoud/esports-earnings-for-players-teams-by-game. I will work with the amount of earnings from each player to represent the statistics about the highest earnings. I have 1000 total observations from the top 10 games on eSports.

In [10]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
import statistics

In [ ]:
from matlab import random
from random import randint

In [3]:
esports_df = pd.read_csv('highest_earning_players.csv')

In [5]:
esports_df.head(5)

,PlayerId,NameFirst,NameLast,CurrentHandle,CountryCode,TotalUSDPrize,Game,Genre
0,3883,Peter,Rasmussen,dupreeh,dk,1822989.41,Counter-Strike: Global Offensive,First-Person Shooter
1,3679,Andreas,Højsleth,Xyp9x,dk,1799288.57,Counter-Strike: Global Offensive,First-Person Shooter
2,3885,Nicolai,Reedtz,dev1ce,dk,1787489.88,Counter-Strike: Global Offensive,First-Person Shooter
3,3672,Lukas,Rossander,gla1ve,dk,1652350.75,Counter-Strike: Global Offensive,First-Person Shooter
4,17800,Emil,Reif,Magisk,dk,1416448.64,Counter-Strike: Global Offensive,First-Person Shooter

In [6]:
esports_df.describe()

           PlayerId  TotalUSDPrize
count   1000.000000   1.000000e+03
mean   27793.587000   3.977932e+05
std    22170.225194   6.908492e+05
min     1000.000000   2.417167e+04
25%     5374.500000   8.378962e+04
50%    23502.000000   1.683284e+05
75%    48127.250000   3.937352e+05
max    83085.000000   6.952597e+06

####Simple random sample

First I will generate a simple random sample with n observations.

In [7]:
simple_esports_df = esports_df.sample(n = 100)
simple_esports_df.head(5)

,PlayerId,NameFirst,NameLast,CurrentHandle,CountryCode,TotalUSDPrize,Game,Genre
252,41044,Tian Liang,Gao,Tian,cn,268282.03,League of Legends,Multiplayer Online Battle Arena
498,28443,Scott,Kennedy,Custa,au,53759.68,Overwatch,First-Person Shooter
302,25047,Harrison,Chang,psalm,us,1873138.80,Fortnite,Battle Royale
46,11483,Peter,Jarguz,stanislaw,ca,481487.38,Counter-Strike: Global Offensive,First-Person Shooter
356,54842,Nick,McGuire,Aspect,us,215391.67,Fortnite,Battle Royale

In [23]:
simple_esports_df.info()#I want to check if I really have 100 values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 252 to 15
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PlayerId       100 non-null    int64
 1   NameFirst      100 non-null    object
 2   NameLast       100 non-null    object
 3   CurrentHandle  100 non-null    object
 4   CountryCode    100 non-null    object
 5   TotalUSDPrize  100 non-null    float64
 6   Game           100 non-null    object
 7   Genre          100 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 7.0+ KB

In [8]:
simple_esports_df.describe()

           PlayerId  TotalUSDPrize
count    100.000000   1.000000e+02
mean   27141.170000   4.004989e+05
std    21457.334855   5.135877e+05
min     1049.000000   2.967600e+04
25%     8521.750000   8.297275e+04
50%    21963.000000   1.654695e+05
75%    41733.250000   5.519888e+05
max    75020.000000   2.995620e+06

Interpretation: The arithmetic mean is 400498.9 USD prize by player. For a very simple statistics it might be ok but we need to get average rate and correctly weight each data point. Let's use the harmonic mean.

In [143]:
har_mean1 = statistics.harmonic_mean(simple_esports_df['TotalUSDPrize'])
har_mean1

130079.46524286638

Interpretation: The harmonic mean is 130079.47 USD prize by player. It seems more fair conclusion for the average prize by player.

####Sistematic sample

We will need a random number and step number.

In [24]:
random_num = np.random.randint(1, 50)
random_num

37

In [35]:
step_num = 10
#https://sparkbyexamples.com/pandas/pandas-select-dataframe-rows-by-index/
#[start:stop:step]
systematic_esports_df = esports_df[random_num:len(esports_df):step_num]
systematic_esports_df.head(5)

,PlayerId,NameFirst,NameLast,CurrentHandle,CountryCode,TotalUSDPrize,Game,Genre
37,1488,Jarosław,Jarząbkowski,pashaBiceps,pl,577382.35,Counter-Strike: Global Offensive,First-Person Shooter
47,12859,Jonas,Olofsson,Lekr0,se,464499.26,Counter-Strike: Global Offensive,First-Person Shooter
57,29711,Ethan,Arnold,nahtE,us,389680.38,Counter-Strike: Global Offensive,First-Person Shooter
67,5035,Philip,Aistrup,aizy,dk,332671.67,Counter-Strike: Global Offensive,First-Person Shooter
77,20813,Aleksi,Virolainen,Aleksib,fi,276730.92,Counter-Strike: Global Offensive,First-Person Shooter

In [33]:
systematic_esports_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 37 to 997
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PlayerId       97 non-null     int64
 1   NameFirst      97 non-null     object
 2   NameLast       97 non-null     object
 3   CurrentHandle  97 non-null     object
 4   CountryCode    97 non-null     object
 5   TotalUSDPrize  97 non-null     float64
 6   Game           97 non-null     object
 7   Genre          97 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 6.2+ KB

I have only 97 entries so I would like to add 3 more with the same step to get 100 entries like in the previous exemple. 997 + 10 = 1007 - let's take 7,17,27 to the sample and get 100 in total.

In [39]:
var1 = esports_df.iloc[7]
var2 = esports_df.iloc[17]
var3 = esports_df.iloc[27]

In [40]:
systematic_esports_df = systematic_esports_df.append(var1, ignore_index = True)
systematic_esports_df = systematic_esports_df.append(var2, ignore_index = True)
systematic_esports_df = systematic_esports_df.append(var3, ignore_index = True)

In [41]:
systematic_esports_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PlayerId       100 non-null    int64
 1   NameFirst      100 non-null    object
 2   NameLast       100 non-null    object
 3   CurrentHandle  100 non-null    object
 4   CountryCode    100 non-null    object
 5   TotalUSDPrize  100 non-null    float64
 6   Game           100 non-null    object
 7   Genre          100 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 6.4+ KB

Now I have 100 entries and I can compare harmonic mean of two methods of sampling.

In [144]:
har_mean2 = statistics.harmonic_mean(systematic_esports_df['TotalUSDPrize'])
har_mean2

119455.27635236355

Interpretation: The harmonic mean is 119455.28 USD prize by player. That means that both methods give different results.

##Nivell 2

###Execise 2 - stratified random sample and SMOTE

####Stratified random sample

For stratified random sample I will divide the palayer in groups by game, there are 10 games in the dataset, so I can pick 10 players form each(10%) and than I will get 100 players in total.

In [44]:
esports_df['Game'].value_counts()

Heroes of the Storm                 100
Fortnite                            100
Arena of Valor                      100
Starcraft II                        100
Dota 2                              100
Counter-Strike: Global Offensive    100
PUBG                                100
Hearthstone                         100
League of Legends                   100
Overwatch                           100
Name: Game, dtype: int64

In [55]:
sorted_esports_df = esports_df. sort_values(by='Game')

In [57]:
sorted_esports_df.head(5)

,PlayerId,NameFirst,NameLast,CurrentHandle,CountryCode,TotalUSDPrize,Game,Genre
801,60565,Guixin,Guo,NuoYan,cn,416162.04,Arena of Valor,Multiplayer Online Battle Arena
873,75020,Aum,Chatchanapong,Happy,th,40376.87,Arena of Valor,Multiplayer Online Battle Arena
872,54012,Denchai,Eampaojeen,JameCo,th,41144.36,Arena of Valor,Multiplayer Online Battle Arena
871,53974,-,-,Sirenia,tw,42482.43,Arena of Valor,Multiplayer Online Battle Arena
870,53973,-,-,Liang,tw,42482.43,Arena of Valor,Multiplayer Online Battle Arena

In [68]:
sorted_esports_df['Game'].unique()

array(['Arena of Valor', 'Counter-Strike: Global Offensive', 'Dota 2',
       'Fortnite', 'Hearthstone', 'Heroes of the Storm',
       'League of Legends', 'Overwatch', 'PUBG', 'Starcraft II'],
      dtype=object)

In [67]:
group1 = sorted_esports_df[sorted_esports_df['Game'] == 'Arena of Valor']
group1.info()#to check if I get 100 entruies for this group, than I will apply the code for all 10 groups

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 801 to 835
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PlayerId       100 non-null    int64
 1   NameFirst      100 non-null    object
 2   NameLast       100 non-null    object
 3   CurrentHandle  100 non-null    object
 4   CountryCode    100 non-null    object
 5   TotalUSDPrize  100 non-null    float64
 6   Game           100 non-null    object
 7   Genre          100 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 7.0+ KB

In [69]:
group2=sorted_esports_df[sorted_esports_df['Game'] == 'Counter-Strike: Global Offensive'] 
group3=sorted_esports_df[sorted_esports_df['Game'] == 'Dota 2'] 
group4=sorted_esports_df[sorted_esports_df['Game'] == 'Fortnite'] 
group5=sorted_esports_df[sorted_esports_df['Game'] == 'Hearthstone'] 
group6=sorted_esports_df[sorted_esports_df['Game'] == 'Heroes of the Storm'] 
group7=sorted_esports_df[sorted_esports_df['Game'] == 'League of Legends'] 
group8=sorted_esports_df[sorted_esports_df['Game'] == 'Overwatch'] 
group9=sorted_esports_df[sorted_esports_df['Game'] == 'PUBG'] 
group10=sorted_esports_df[sorted_esports_df['Game'] == 'Starcraft II']

In [70]:
#getting 10 entries from each group
esports_df1 = group1.sample(n = 10)
esports_df2 = group2.sample(n = 10)
esports_df3 = group3.sample(n = 10)
esports_df4 = group4.sample(n = 10)
esports_df5 = group5.sample(n = 10)
esports_df6 = group6.sample(n = 10)
esports_df7 = group7.sample(n = 10)
esports_df8 = group8.sample(n = 10)
esports_df9 = group9.sample(n = 10)
esports_df10 = group10.sample(n = 10)

In [72]:
stratified_esports_df = esports_df1.append((esports_df2,
                                            esports_df3,
                                            esports_df4,
                                            esports_df5,
                                            esports_df6,
                                            esports_df7,
                                            esports_df8,
                                            esports_df9,
                                            esports_df10),ignore_index = True)

In [76]:
stratified_esports_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PlayerId       100 non-null    int64
 1   NameFirst      100 non-null    object
 2   NameLast       100 non-null    object
 3   CurrentHandle  100 non-null    object
 4   CountryCode    100 non-null    object
 5   TotalUSDPrize  100 non-null    float64
 6   Game           100 non-null    object
 7   Genre          100 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 6.4+ KB

In [145]:
har_mean3 = statistics.harmonic_mean(stratified_esports_df['TotalUSDPrize'])
har_mean3

132956.6247256477

Interpretation: The harmonic mean is 132956.62 USD prize by player. That means that by applying stratifies sampling methos I got similar value to simple sampling mathod.

####SMOTE

In [80]:
import imblearn
from imblearn.over_sampling import SMOTE

In [82]:
esports_df['CountryCode'].unique()

array(['cn', 'tw', 'vn', 'th', 'kr', 'us', 'my', 'br', 'be', 'es', 'de',
       'tr', 'pl', 'se', 'gb', 'ca', 'sk', 'fr', 'kz', 'ru', 'fi', 'bg',
       'uz', 'dk', 'cz', 'no', 'ee', 'nl', 'ua', 'ba', 'ph', 'mk', 'mo',
       'jo', 'sg', 'au', 'by', 'ro', 'il', 'pk', 'lb', 'at', 'hk', 'ar',
       'ch', 'lv', 'si', 'lt', 'jp', 'gr', 'it', 'hr', 'cu', 'gi', 'ie',
       'mx'], dtype=object)

In [89]:
esports_df.groupby(['CountryCode']).size()#how many player I have by country? I will pick two countries for SMOTE

CountryCode
ar      3
at      3
au      5
ba      1
be      5
bg      6
br     10
by      2
ca     37
ch      3
cn    168
cu      1
cz      3
de     30
dk     36
ee      2
es      6
fi     16
fr     37
gb     16
gi      1
gr      1
hk      5
hr      2
ie      1
il      2
it      2
jo      2
jp      4
kr    251
kz      6
lb      1
lt      2
lv      1
mk      1
mo      1
mx      1
my      6
nl     10
no     10
ph      7
pk      1
pl     14
ro      2
ru     22
se     45
sg      1
si      4
sk      3
th     29
tr      4
tw     34
ua     12
us    114
uz      1
vn      7
dtype: int64

I will take players from South Korea - KR and China - CN because these countries has the highest number of players.

In [95]:
groupKR=esports_df[esports_df['CountryCode'] == 'kr']
groupCN=esports_df[esports_df['CountryCode'] == 'cn']

In [96]:
smote_esports_df = groupKR.append(groupCN,ignore_index = True)

In [98]:
smote_esports_df.head(5)

,PlayerId,NameFirst,NameLast,CurrentHandle,CountryCode,TotalUSDPrize,Game,Genre
0,53998,Chang Hoon,Shin,JJak,kr,122650.01,Arena of Valor,Multiplayer Online Battle Arena
1,53996,Ho Yeon,Lee,Rush,kr,117894.70,Arena of Valor,Multiplayer Online Battle Arena
2,53999,Do Yeop,Kim,HAK,kr,111710.36,Arena of Valor,Multiplayer Online Battle Arena
3,53995,Sun Woo,Kim,Sun,kr,111582.45,Arena of Valor,Multiplayer Online Battle Arena
4,53997,Hyung Min,Kim,Chaser,kr,71604.67,Arena of Valor,Multiplayer Online Battle Arena

In [130]:
mod_smote_esports_df = smote_esports_df[['CountryCode','TotalUSDPrize']]
mod_smote_esports_df.head()

  CountryCode  TotalUSDPrize
0          kr      122650.01
1          kr      117894.70
2          kr      111710.36
3          kr      111582.45
4          kr       71604.67

In [131]:
pd.options.mode.chained_assignment = None
mod_smote_esports_df['CountryCode'] = np.where((mod_smote_esports_df['CountryCode'] == 'kr'), 1, 0)

In [132]:
mod_smote_esports_df

     CountryCode  TotalUSDPrize
0              1      122650.01
1              1      117894.70
2              1      111710.36
3              1      111582.45
4              1       71604.67
..           ...            ...
414            0      125173.05
415            0      142369.56
416            0      184811.62
417            0      134300.51
418            0      172891.85

[419 rows x 2 columns]

In [133]:
mod_smote_esports_df['CountryCode'].value_counts()

1    251
0    168
Name: CountryCode, dtype: int64

That means that I have 251 player from South Korea and 168 player from China. With SMOTE I will increase the values of China player to 251.

In [134]:
smote = SMOTE(sampling_strategy = 'minority')
X_sm, y_sm = smote.fit_resample(mod_smote_esports_df, mod_smote_esports_df['CountryCode'])

In [136]:
X_sm['CountryCode'].value_counts()

0    251
1    251
Name: CountryCode, dtype: int64

In [146]:
har_mean4 = statistics.harmonic_mean(X_sm['TotalUSDPrize'])
har_mean4

114032.44263264671

Interpretation: the average prize of Soouth Korea and China players is lower than the average prize of player from all countries.

##Nivell 3

###Execise 3 - Reservoir samplig

I'm using the strategy from https://towardsdatascience.com/the-5-sampling-algorithms-every-data-scientist-need-to-know-43c7bc11d17c

In [139]:
def generator(max):
    number = 1
    while number < max:
        number += 1
        yield number
        
stream = esports_df['TotalUSDPrize']

k=100 #number of samples
reservoir = []#list of values
for i, element in enumerate(stream):
    if i+1<= k:
        reservoir.append(element)
    else:
        probability = k/(i+1)
        if random.random() < probability:
            # select item in stream and remove one of the k items already selected
             reservoir[random.choice(range(0,k))] = element
print(reservoir)

[416162.04, 110644.94, 69829.77, 58436.0, 101243.57, 143598.03, 653938.44, 308901.19, 176803.33, 344350.25, 617000.5, 185512.99, 1349767.32, 287279.5, 153199.92, 200447.42, 2097095.28, 117894.7, 106225.0, 229464.98, 57157.65, 86250.0, 1598492.49, 90798.66, 125458.59, 403320.75, 117466.67, 288225.07, 159911.85, 110925.0, 86666.67, 193787.59, 822916.86, 66666.67, 97741.11, 327424.24, 1745944.26, 104675.0, 167697.53, 105541.2, 51231.7, 73575.0, 108240.14, 6952596.58, 227008.15, 249497.86, 55676.28, 94073.0, 142369.56, 2864004.17, 64140.31, 60502.6, 38892.33, 53759.68, 917449.86, 2381155.91, 54156.23, 57198.2, 472216.01, 47549.95, 318379.81, 58295.94, 204079.55, 136120.04, 57792.0, 182950.0, 61459.02, 159402.36, 48550.0, 337832.12, 150900.0, 291115.88, 85032.94, 58160.23, 715350.0, 346307.48, 163976.97, 326176.94, 164025.25, 60952.31, 144507.88, 257257.41, 128659.74, 229438.65, 143908.34, 31489.38, 643143.08, 100271.58, 6000411.96, 471280.47, 1314968.82, 67744.43, 174361.72, 673162.61, 109714.8, 506099.73, 558114.07, 332671.67, 82409.24, 28816.0]

In [140]:
len(reservoir)

100

In [141]:
a = min(reservoir)
b = max(reservoir)
print(a, b)

28816.0 6952596.58

In [147]:
har_mean5 = statistics.harmonic_mean(reservoir)
har_mean5

120491.53536710396

Interpretation: the average prize 120491.53 might be the most correct answer because it's close to the value from simple sampling and pointing toward higher values seen with stratified method.

In [149]:
print('Average prize by simple sampling is', har_mean1)
print('Average prize by sistemating sampling is', har_mean2)
print('Average prize by stratified sampling is', har_mean3)
print('Average prize by SMOTE sampling is', har_mean4)
print('Average prize by reservoir sampling is', har_mean5)

Average prize by simple sampling is 130079.46524286638
Average prize by sistemating sampling is 119455.27635236355
Average prize by stratified sampling is 132956.6247256477
Average prize by SMOTE sampling is 114032.44263264671
Average prize by reservoir sampling is 120491.53536710396